[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
pytest = "*"

[packages]
jsonschema = "==2.6.0"  # until spidermon supports jsonschema>=3.0.0
peewee = "*"
psycopg2-binary = "*"
python-decouple = "*"
rows = {extras = ["pdf,xls"],version = "*"}
schematics = "*"
scrapy = "*"
selenium = "*"
spidermon = {extras = ["monitoring", "validation"],version = "*"}
splinter = "*"

[requires]
python_version = "3.7"
