[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
pytest = "*"

[packages]
jsonschema = "*"
lxml = "*"
peewee = "*"
psycopg2-binary = "*"
python-decouple = "*"
requests = "*"
rows = "*"
schematics = "*"
scrapy = "*"
selenium = "*"
six = "*"
spidermon = {extras = ["monitoring", "validation"],version = "*"}
splinter = "*"
tqdm = "*"
xlrd = "*"
xlwt = "*"

[requires]
python_version = "3.7"
