[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
pytest = "*"
pytest-django = "*"
mixer = "*"

[packages]
dj-database-url = "*"
django = "*"
django-extensions = "*"
django-test-without-migrations = "*"
psycopg2-binary = "*"
python-decouple = "*"
restless = "*"

[requires]
python_version = "3.7"
